In [154]:
import os
import pandas as pd
from datetime import datetime

In [155]:
current_directory = os.getcwd()
data_directory = current_directory#current_directory+'\data\dataLog3.csv'
df = pd.read_csv(data_directory+'\dataLog3.csv')

In [176]:
current_directory_split = os.getcwd().split('\\')
data_directory = ''
for i in current_directory_split[:-2]:
    data_directory += i + '\\'
data_directory = data_directory + ''

'd:\\Files\\GitHub\\EmbeddedSystemsProj1\\'

In [156]:
df.index = df.index+1
df.loc[0] = df.columns
df.sort_index(inplace=True)
df = df[df.columns[0:4]].copy()
df.columns = ['timeNow','harmfulHEVIntensity', 'overallLightIntensity', 'artificialLightBool']
df[['harmfulHEVIntensity', 'overallLightIntensity', 'artificialLightBool']] = df[['harmfulHEVIntensity', 'overallLightIntensity', 'artificialLightBool']].apply(pd.to_numeric)
df['timeNow'] = pd.to_datetime(df['timeNow']).copy()
df

,timeNow,harmfulHEVIntensity,overallLightIntensity,artificialLightBool
0,2022-02-22 16:19:34,0.359021,0.028988,1
1,2022-02-22 16:19:36,0.356929,0.030697,1
2,2022-02-22 16:19:38,0.397841,0.098459,1
3,2022-02-22 16:19:40,0.359771,0.033775,1
4,2022-02-22 16:19:42,0.303078,0.049659,1
...,...,...,...,...
840,2022-02-22 17:01:23,0.378552,0.050395,1
841,2022-02-22 17:01:26,0.226982,0.009392,1
842,2022-02-22 17:01:28,0.199849,0.013154,1
843,2022-02-22 17:01:30,0.131047,0.011689,1
844,2022-02-22 17:01:32,0.199205,0.004666,1

In [157]:
df['timeNow'].iloc[-1]

Timestamp('2022-02-22 17:01:32')

In [158]:
time_of_last_collection = df['timeNow'].iloc[-1]
df.loc[((time_of_last_collection - df.timeNow).dt.total_seconds()/60) < 15]

,timeNow,harmfulHEVIntensity,overallLightIntensity,artificialLightBool
428,2022-02-22 16:46:35,0.532319,0.145156,1
429,2022-02-22 16:46:37,0.480652,0.068706,1
430,2022-02-22 16:46:39,0.190267,0.021808,1
431,2022-02-22 16:46:41,0.187496,0.028722,1
432,2022-02-22 16:46:43,0.224114,0.891296,1
...,...,...,...,...
840,2022-02-22 17:01:23,0.378552,0.050395,1
841,2022-02-22 17:01:26,0.226982,0.009392,1
842,2022-02-22 17:01:28,0.199849,0.013154,1
843,2022-02-22 17:01:30,0.131047,0.011689,1
844,2022-02-22 17:01:32,0.199205,0.004666,1

In [159]:
time_delta = (current_time - df['timeNow'][0])
time_delta

Timedelta('1 days 14:21:15.577292')

In [160]:
timedelta_mins = time_delta.total_seconds()/60

In [161]:
data = []
harmfulHEVIntensity_data = list(df['harmfulHEVIntensity'])
overallLightIntensity_data = list(df['overallLightIntensity'])
data.append(harmfulHEVIntensity_data)
data.append(overallLightIntensity_data)
data.append([0.4 for x in harmfulHEVIntensity_data])
labels = list(df['timeNow'].dt.strftime('%Y-%m-%d, %H:%M'))

In [162]:
df

,timeNow,harmfulHEVIntensity,overallLightIntensity,artificialLightBool
0,2022-02-22 16:19:34,0.359021,0.028988,1
1,2022-02-22 16:19:36,0.356929,0.030697,1
2,2022-02-22 16:19:38,0.397841,0.098459,1
3,2022-02-22 16:19:40,0.359771,0.033775,1
4,2022-02-22 16:19:42,0.303078,0.049659,1
...,...,...,...,...
840,2022-02-22 17:01:23,0.378552,0.050395,1
841,2022-02-22 17:01:26,0.226982,0.009392,1
842,2022-02-22 17:01:28,0.199849,0.013154,1
843,2022-02-22 17:01:30,0.131047,0.011689,1
844,2022-02-22 17:01:32,0.199205,0.004666,1

In [169]:
threshold = 0.4
number_of_entries = len(df)
number_of_entries_more_than_threshold = len(df.loc[df.harmfulHEVIntensity > threshold])
perc = round(number_of_entries_more_than_threshold/number_of_entries*100)
perc

23